{% extends "base.html" %} {% block main %}
<link rel="stylesheet" href="/static/css/match.css">

<center>
    <h1>这里是主页</h1>
    <p>在这个页面加各种UI</p>
    <button type="button" class="btn btn-info" onclick="location.href='/enterRoom'">点击这里进入聊天室（聊天demo）</button>
    <!-- <button type="button" class="btn btn-info" onclick="location.href='localhost:5001/index.html';target='_blank'" >点击这里进入语音（语音demo）</button> -->
    <!-- <a href="/talk#match">
        <button type="button" class="btn btn-info">点击这里进入语音（语音demo）</button>
    </a> -->
    
    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
        <button type="button" class="btn btn-danger"  id="match_button">匹配测试</button>
    </a>
    <button tyoe = 'button' class="btn btn-default" onclick="location.href='/moment_page'">动态demo</button>

</center>

<div id="light" class="white_content"> 
    <!-- <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">点这里关闭本窗口</a> -->
    <div class="king">
        <div class="player-layout">
            <div class="group group1">
            <div class="player1 player"></div>
            </div>
            <div class="group group2">
            <div class="player2 player"></div>
            </div>
            <div class="center"><img src="static/images/1.png"></div>
        </div>
        <div class="matrix">
            <div class="border border1"></div>
            <div class="border border2"></div>
        </div>
        <div id="confirm_button"class="button" >
            <div class="button-text">确认</div>
        </div>
        </div>
    </div>
</div> 
<div id="fade" class="black_overlay"></div>

    
<script type="text/javascript" src="static/js/SkyRTC-client.js"></script>   
    <script>
        var videos = document.getElementById("videos");
        function addToUserList(list, user) {
            var i;
            for (i=0; i<list.length; i++) {
            
                if (list[i].id === user.id) {
                    return;
                }
            }
            list.push(user);
        }
        
        function removeFromUserList(list, user) {
            var i, target = -1;
            for (i=0; i<list.length; i++) {
                if (list[i].id == user.id) {
                    target = i;
                    break;
                }
            }
            if (target >= 0) {
            
                list.splice(target, 1);
            }
        }
    
    
        $(function () {    
            //用来存储信息，即自己的socket,socketId和个人信息socketUser，在匹配的时候发往后台，用作匹配
            //my_socket用来发送消息给服务器
            var my_socket;
            var my_socketId;
            var my_socketUser;

            //定义一个RTC对象
            var rtc = SkyRTC();
            //定义一个VUE对象，用来存储当前在线用户
            var vmUserList = new Vue({
                el: '#user-list',
                data: {
                    users: [],
                    socket_ids:[]
                }
            });
            //定义错误信息
            var errorCb = function(rtc) {
                    return function(error) {
                        if (error) {
                            rtc.emit("error", error);
                        }
                    };
            };

            $("#match_button").click(function(){
                console.log(my_socket);
                console.log(my_socketId)
                console.log(my_socketUser)
                var room_name;
            //发往后台，开始匹配
                my_socket.send(JSON.stringify({
                    "eventName": "_match",
                    "data": {
                        // "socket":my_socket,
                        "socketId": my_socketId,
                        "socketUser":my_socketUser
                    }
                }), errorCb);

                rtc.on("get_roomname",function(room_name){
                    console.log("到前端了")
                    console.log(room_name);
                    $("#confirm_button").click(function(){
                        console.log(room_name)
                        document.getElementById('light').style.display='none';
                        document.getElementById('fade').style.display='none';
                        window.open("talk#"+room_name,"_blank");
                    })
                    
                })
            
                
            }) 

            /**********************************************************/
            //成功创建WebSocket连接
            rtc.on("connected", function(socket,socketId,socketUser,users) {
                // 初始化个人信息
                my_socket=socket;
                my_socketId=socketId;
                my_socketUser=socketUser;

                vmUserList.users = users;
                console.log("connected:",users)

            });

            //删除其他用户
            rtc.on('remove_peer', function(socketId,socketUser) {
                // console.log(socketId)
                console.log("删除用户",socketUser)
                var video = document.getElementById('other-' + socketId);
                if(video){
                    video.parentNode.removeChild(video);
                }

                removeFromUserList(vmUserList.users,socketUser)
            });
            //新用户加入
            rtc.on("new_peer",function(socketId,socketUser){
                console.log(socketId);
                console.log(socketUser)
                addToUserList(vmUserList.users, socketUser);
            })

            //连接WebSocket服务器
            rtc.connect("wss:" + window.location.href.substring(window.location.protocol.length).split('#')[0], window.location.hash.slice(1));
        });
    </script>

    <script>
        // 这里写与其他人聊天的逻辑代码
    </script>

    <script>
        //这里写查看动态的逻辑代码
        //加一个刷新按钮，每次点刷新，就重新从数据库里读数据，重新绑定数据


    </script>
     
    <div class="container" style="position:fixed;left:0%;padding: 0px">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Users</h3>
                    </div>
                    <div class="panel-body">
                        <div style="height:434px; overflow-x:hidden; overflow-y:scroll;">
                            <div id="user-list">
                                <div class="media" v-for="user in users">
                                    <div class="media-left">
                                        <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + user.image + '.png'">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" v-text="user.name"></h4>
                                        <!-- <h4 class="media-heading" v-text="user"></h4> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <audio id="recorded" preload="none"></audio>
            <!-- <button type="button" class="btn btn-info" onclick="location.href='/test'">test</button> -->
            <div class="col-md-8">
                    <!-- 这里面是iframe，用来放与不同人的聊天页 -->
                    <iframe name="chatPage" src="/chat" scrolling = 'no' frameborder="0" width="100%" height="550px">
                    
                    </iframe>
                </div>
        </div>    
        
        
    </div>
    <div id="videos">
        <video id="me" autoplay></video>
    </div>

{% endblock %}