{% extends "base.html" %} {% block main %}
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>

function showError(resp) {
    resp.json().then(function (result) {
        console.log('Error: ' + result.message);
    });
}

$(function () {
    var vm = new Vue({
        el: '#vm',
        // http: {
        //     timeout: 5000
        // },
        data: {
            title: 'TODO List',
            moments: [],
            loading: false
        },
        created: function () {
            this.init();
            
        },
        methods: {
            init: function () {
                var that = this;
                that.loading = true;
                that.$resource('/moment/moments').get().then(function (resp) {
                    that.loading = false;
                    resp.json().then(function (result) {
                        that.moments = result.moments;
                        console.log(that.moments)
                    });
                }, function (resp) {
                    that.loading = false;
                    showError(resp);
                });
            },
            create: function (moment) {
                var that = this;
                that.$resource('/moment/moments').save(moment).then(function (resp) {
                    resp.json().then(function (result) {
                        that.moments.reverse();
                        that.moments.push(result);
                        that.moments.reverse();
                    });
                }, showError);
            },
            update: function (moment, prop, e) {
                var that = this;
                var t = {
                    name: moment.name,
                    content: moment.content
                };
                t[prop] = e.target.innerText;
                if (t[prop] === moment[prop]) {
                    return;
                }
                that.$resource('/moment/moments/' + moment.id).update(t).then(function (resp) {
                    resp.json().then(function (r) {
                        moment.name = r.name;
                        moment.content = r.content;
                    });
                }, function (resp) {
                    e.target.innerText = moment[prop];
                    showError(resp);
                });
            },
            remove: function (moment) {
                var that = this;
                that.$resource('/moment/moments/' + moment.id).delete().then(function (resp) {
                    var i, index = -1;
                    for (i=0; i<that.moments.length; i++) {
                        if (that.moments[i].id === moment.id) {
                            index = i;
                            break;
                        }
                    }
                    if (index >= 0) {
                        that.moments.splice(index, 1);
                    }
                }, showError);
            }
        }
    });
    window.vm = vm;

    var vmAdd = new Vue({
        el: '#vmAdd',
        data: {
            // name: '',
            content: ''
        },
        methods: {
            submit: function () {
                vm.create(this.$data);
                // this.name = '';
                this.content = '';
            }
        }
    });
});

</script>



<div class="container">
    <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Add New Moment</h3>
                    </div>
                    <div class="panel-body">
                        <form id="vmAdd" action="#0" v-on:submit.prevent="submit">
                            <!-- <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" v-model="name" class="form-control" placeholder="Enter name">
                            </div> -->
                            <div class="form-group">
                                <label>Content:</label>
                                <input type="text" v-model="content" class="form-control" placeholder="分享新鲜事">
                            </div>
                            <button type="submit" class="btn btn-default">发送</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> 动态内容</h3>
                </div>
                <div class="panel-body">
                    <div id="vm">
                            <!-- <h3>{{ title }}</h3> -->
                            <p v-if="loading">Loading...</p>
                            <!-- <ol>
                                <li v-for="t in moments">
                                    <dl>
                                        <dt contenteditable="true" v-on:blur="update(t, 'name', $event)">{% raw %}{{ t.name }}{% endraw %}</dt>
                                        <dd contenteditable="true" v-on:blur="update(t, 'description', $event)">{% raw %}{{ t.description }}{% endraw %}</dd>
                                        <dd><a href="#0" v-on:click="remove(t)">Delete</a></dd>
                                    </dl>
                                </li>
                            </ol> -->
                            <div class="media" v-for="t in moments">
                                <div class="media-left">
                                    <img class="media-object" style="width:32px; height:32px;" v-bind:src="'/static/images/' + t.image + '.png'">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{% raw %}{{ t.name }}{% endraw %}</h4>
                                    <h5>{% raw %}{{ t.createdAt }}{% endraw %}</h5>
                                    <span>{% raw %}{{ t.content }}{% endraw %}</span>
                                </div>
                                <br>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}