{% extends "base.html" %} {% block main %}

</script>
    <div id="mario-chat">
        <h2>Voice Chat</h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <!-- <input id="handle" type="text" placeholder="Input your name" />
        <input id="message" type="text" placeholder="Input your message" /> -->
        <button id="send">Send</button>
        <button id="record">Start Recording</button>
        <button id="play">Play</button>
        <!-- <button id="download">Download</button> -->
    </div>
    <audio id="gum"></audio>
    <br>
    <br>
    <br>
    <br>
    <br>
    <audio id="recorded" preload="none"></audio>
<script src="/static/js/record.js"></script>
{% endblock %}