{% extends "base.html" %} {% block main %}
<!-- 与其他人打字聊天的页面 -->
    
<script type="text/javascript" src="static/js/SkyRTC-client.js"></script>
<script>

    function addMessage(list, msg) {
        list.push(msg);
        $('#message-list').parent().animate({
            scrollTop: $('#message-list').height()
        }, 1000);
    }
    
    $(function () {

        var vmMessageList = new Vue({
            el: '#message-list',
            data: {
                messages: []
            }
        });

        //定义错误信息
        var errorCb = function(rtc) {
                return function(error) {
                    if (error) {
                        rtc.emit("error", error);
                    }
                };
        };
       
        var rtc = SkyRTC();

        /**********************************************************/
        //成功创建WebSocket连接
        rtc.on("connected", function(socket,socketId,socketUser,users) {
            my_socket=socket;
            my_socketId=socketId;
            my_socketUser=socketUser;

           
            console.log("connected:",users)

        });

        //创建本地视频流成功
        rtc.on("stream_created", function(stream) {
            document.getElementById('me').srcObject = stream;
            document.getElementById('me').play();
        });
        

        //删除其他用户
        rtc.on('remove_peer', function(socketId,socketUser) {
            // console.log(socketId)
            console.log("删除用户",socketUser)
            var video = document.getElementById('other-' + socketId);
            if(video){
                video.parentNode.removeChild(video);
            }

        });
        //新用户加入
        rtc.on("new_peer",function(socketId,socketUser){
            console.log(socketId);
            console.log(socketUser);
        })

        //连接WebSocket服务器
        rtc.connect("wss:" + window.location.href.substring(window.location.protocol.length).split('#')[0], window.location.hash.slice(1));
    });
    </script>

<div class="container">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Room</h3>
        </div>
        <div class="panel-body">
            <div style="height:400px; overflow-x:hidden; overflow-y:scroll;">
                <div id="message-list">
                    <div style="margin-bottom:25px;" v-for="msg in messages">
                        <div v-if="msg.type === 'join' || msg.type === 'left'">
                            <div class="media-left">
                                <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + msg.user.image  + '.png'">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" v-text="msg.data"></h4>
                            </div>
                        </div>
                        <div v-if="msg.type === 'chat'">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" style="width:48px; height:48px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" v-text="msg.user.name"></h4>
                                    <span v-text="msg.data"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <form id="form-chat" action="#0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="A good day, isn't it?">
                        
                        <span class="input-group-btn"><button class="btn btn-default" type="submit">Go</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}