{% extends "base.html" %} {% block main %}
<!-- <div id="important" style="color:#cdbfe3; background-color:#6f5499; padding:30px 0; margin:-20px 0 20px 0;">
    <div class="container">
        <h1 style="color:#fff; font-size:60px">Getting start learning with HelloWorld!</h1>
        <p style="font-size:24px; line-height:48px">学外语的地方!</p>
    </div>
</div> -->
<style>
    body{
        background-image:url('/static/img/bg2.jfif');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover
    }
</style>
<section id="getintouch" class="bounceIn animated" >
<div class="container" >
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
       <p class="brand">- HELLOWORLD -</p>
    </h1>
    

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"> Welcome </span></h3>
                </div>
                <div class="panel-body">
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <label>UserName</label>
                            <input type="text" name="username" class="form-control" placeholder="UserName" value="{{ username }}">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" value="{{ password }}">
                            <p class="help-block"><a href="/reset_passwd">forget password</a></p>
                        </div>
                        <center>
                        <button type="submit" class="btn btn-primary" style="margin-right:15px;">Sign In</button>
                        <button type="button" class="btn btn-info" onclick="location.href='/register'">Join us</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>
        <p class="slogan">- Helloworld, talk to the world! -</p>
     </h2>

</div>
</section>


{% endblock %}