.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: absolute; 
    top: 25%; 
    left: 25%; 
    width: 55%; 
    height: 55%; 
    padding: 20px; 
    border: 10px; 
    /* background-color: white;  */
    opacity:1;
    z-index:1002; 
    overflow: auto; 
} 
.king{
    position: relative;
    height: 25rem;
    width: 100%;
    background: radial-gradient(circle, #ccc, #161d4f 85%);
  }
  .king:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
  .king:before {
    background-image: 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, transparent 20%, #fff 20%, transparent 30%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, transparent 10%, #fff 15%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%);
    background-size: 
      10% 10%, 
      12% 12%, 
      5% 5%, 
      12% 12%, 
      5% 5%, 
      10% 10%, 
      5% 5%, 
      10% 10%, 
      5% 5%;
    display: block;
    animation: topBubbles ease-in-out 3s forwards infinite;
  }

  .player-layout{
    position: relative;
    height: 8rem;
    width: 100%;
    background: linear-gradient(to right, #212f46, #212f4670, #212f46);
    top: 50%;
    transform: translate(0,-50%);
    z-index: 10;
  }
  .center{
    position: absolute;
    height: 8rem;
    width: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: linear-gradient(90deg, #212f46, #5b99ff);
    border: .3rem solid #55a9ef;
    box-shadow: 0px 0px .8rem #88c0f0;
    padding: .2rem;
  }
  .center img{
    width: 100%;
    height: 100%;
  }
  .group{
    position: relative;
    width: calc((100% - 13rem)/2);
    top: 50%;
    transform: translate(0, -50%);
  }
  .group1{
    text-align: right;
    float: left;
  }
  .group2{
    text-align: left;
    float: right;
  }
  .player{
    position: relative;
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background: url('../images/1.png');
    background-size: cover;
    border: .3rem solid #55a9ef;
    box-shadow: 0px 0px .8rem #88c0f0;
    color: #fff;
  }
  .player::before,
  .player::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -8%;
    box-shadow: inset 0 0 0 .3rem;
    animation: clipMe 6s linear infinite;
    /* clip: rect(4rem, 4.8rem, 4.8rem, 0rem); */
  }
  .player::before {
    animation-delay: -3s;
  }
  @keyframes clipMe {
    0%,
    100% {
      clip: rect(0, 4.8rem, 4.8rem, 4.3rem);
    }
    25% {
      clip: rect(0px, 4.8rem, .3rem, 0);
    }
    50% {
      clip: rect(0, .3rem, 4.8rem, 0);
    }
    75% {
      clip: rect(4.3rem, 4.8rem, 4.8rem, 0rem);
    }
  }

  .group::before, .group::after{
    position: absolute;
    content: '';
    background: linear-gradient(to right,#212f4602, #7499d7, #212f4602);
    height: .3rem;
    width: 10rem;
  }
  .group::before{
    top: -1.5rem;
  }
  .group::after{
    bottom: -1.5rem;
  }
  .group1::before{
    right: 0;
  }
  .group1::after{
    right: 5rem;
  }
  .group2::after{
    left: 5rem;
  }
  .matrix{
    position: absolute;
    height: 16.7rem;
    width: 16.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
    border: .1rem solid #7499d7;
    padding: .4rem;
  }
  .border{
    position: absolute;
    height: 16.7rem;
    width: 16.7rem;
    text-align: center;
  }
  .border::before,.border::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 2.5rem;
    color: #fff;
    background: linear-gradient(to top,#212f4602, #7499d7);
    text-shadow: 1rem 1rem 1rem #000;
    animation: text-an 1.5s linear infinite;
  }
  .border1::before{
    content: '     匹配成功     ';
  }
  .border1::after{
    bottom: 0;
    content: '     我们一起     ';
    transform: rotate(180deg);
  }
  .border2{
    transform: rotate(90deg);
  }
  .border2::before{
    content: '     学习外语     ';
  }
  .border2::after{
    bottom: 0;
    content: '     让你秀起来     ';
    transform: rotate(180deg);
  }

  @keyframes text-an {
    0%{
      text-shadow: 0 0 0 #ffffff;
    }
    100% {
      text-shadow: 0 -6rem .4rem #ffffff10;
    }
  }

  .button{
    position: relative;
    background: #3e3a31;
    width: 6.5rem;
    height: 2rem;
    line-height: 2rem;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-align: center;
    cursor: pointer;
  }
  .button::before,.button::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 0; 
    height: 0;
    border-width: 1.43rem;
    border-style: solid;
    border-color:
      #3e3a31 
      transparent 
      transparent  
      transparent;
  }
  .button::before{
    transform: rotate(-135deg);
    left: -1.40rem;
    top: -1.42rem;
  }
  .button::after{
    transform: rotate(135deg);
    right: -1.43rem;
    top: -1.43rem;
  }

  .button-text {
    position: relative;
    width: 100%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  .button-text:before, .button-text:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .button-text:before {
    display: none;
    top: -75%;
    background-image: 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, transparent 20%, #fff 20%, transparent 30%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, transparent 10%, #fff 15%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%);
    background-size: 
      10% 10%, 
      20% 20%, 
      15% 15%, 
      20% 20%, 
      18% 18%, 
      10% 10%, 
      15% 15%, 
      10% 10%, 
      18% 18%;
  }
  .button-text:after {
    display: none;
    bottom: -75%;
    background-image: 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, transparent 10%, #fff 15%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%), 
      radial-gradient(circle, #fff 20%, transparent 20%);
    background-size: 
      15% 15%, 
      20% 20%, 
      18% 18%, 
      20% 20%, 
      15% 15%, 
      10% 10%, 
      20% 20%;
  }
  .button-text:active {
    transform: scale(0.9);
  }
  .button-text.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .button-text.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  @keyframes topBubbles {
    0% {
      background-position: 
        5% 90%, 
        10% 90%, 
        10% 90%, 
        15% 90%, 
        25% 90%, 
        25% 90%, 
        40% 90%, 
        55% 90%, 
        70% 90%;
    }
    50% {
      background-position: 
        0% 80%, 
        0% 20%, 
        10% 40%, 
        20% 0%, 
        30% 30%, 
        22% 50%, 
        50% 50%, 
        65% 20%, 
        90% 30%;
    }
    100% {
      background-position: 
        0% 70%, 
        0% 10%, 
        10% 30%, 
        20% -10%, 
        30% 20%, 
        22% 40%, 
        50% 40%, 
        65% 10%, 
        90% 20%;
      background-size: 
        0% 0%, 
        0% 0%,  
        0% 0%,  
        0% 0%,  
        0% 0%,  
        0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 
        10% -10%,
        30% 10%,
        55% -10%,
        70% -10%,
        85% -10%,
        70% -10%,
        70% 0%;
    }
    50% {
      background-position: 
        0% 80%,
        20% 80%,
        45% 60%,
        60% 100%,
        75% 70%,
        95% 60%,
        105% 0%;
    }
    100% {
      background-position: 
        0% 90%,
        20% 90%,
        45% 70%,
        60% 110%,
        75% 80%,
        95% 70%,
        110% 10%;
      background-size: 
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
    }
  }